
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Ignore IDE specific files
src/Entity/MemberTransfer.php
src/Entity/Member.php
src/Entity/Church.php

src/Controller/ChurchController.php
src/Controller/MemberController.php
src/Controller/MemberTransferController.php

src/Services/Validator/ChurchValidator.php
src/Services/Validator/MemberValidator.php
src/Services/Validator/MemberTransferValidator.php